<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">

<dom-module id="controll-hosts-editor">
<template>
	<style>
	</style>
	
	<template is="dom-repeat" items="{{hosts}}" as="host">
		<paper-item>
			<div><paper-input label="Display Name" value="{{host.name}}"></paper-input></div>
			<div><paper-input readonly label="Email" value="[[host.email]]"></paper-input></div>
			<div>
				<paper-icon-button icon="clear" title="Remove" on-tap="removeTimeslotHost"></paper-icon-button>
			</div>
		</paper-item>
	</template>

	<paper-item>
		<vaadin-combo-box style="width: 30em;" label="Available Users" id="timeslotHostList" items="[[availableUsers]]"
				item-value-path="email" item-label-path="label" on-value-changed="pushTimeslotHosts"></vaadin-combo-box>
		<paper-button on-tap="startAddUser" raised><iron-icon icon="add"></iron-icon>Create a new user</paper-button>
	</paper-item>
	
	<paper-dialog id="addUserDialog" modal>
		<paper-item>
			<paper-input label="Name" id="addUserName"></paper-input>
		</paper-item>
		<paper-item>
			<paper-input label="Email" id="addUserEmail"></paper-textarea>
		</paper-item>
		<paper-item>
			<paper-button on-tap="finishAddUser" raised><iron-icon icon="check"></iron-icon>OK</paper-button>
			<paper-button on-tap="startAddUser" raised><iron-icon icon="close"></iron-icon>Cancel</paper-button>
		</paper-item>
	</paper-dialog>
	
	
</template>
</dom-module>

<script>
Polymer({
	is : 'controll-hosts-editor',
	properties : {
		isDisabled : {
			type: Boolean,
			value: false,
			notify: true
		},
		hosts: {
			type: Array,
			value: function() { return new Array(); },
			notify: true
		}
	},

	ready : function() {
	},

	attached : function() {
		app.addEventListener('please-refresh-lists', this.refreshData.bind(this), false);
	},
	
	refreshData : function() {
		if (this.isDisabled)
			return; // don't load data if we are not going to be used
		app.getCatalog('users', (function(users){
			this.set('availableUsers', users.map(function(user){
				user.label = user.name + ' <' + user.email + '>';
				return user;
			}));
		}).bind(this));
	},
	
	pushTimeslotHosts : function(event) {
		var hostval = this.$.timeslotHostList.value;
		if (!this.hosts || !hostval) return;
		if (!this.hosts.find(function(host){return host.email == hostval;})) { // not already there
			this.push('hosts', this.availableUsers.find(function(host){
				return host.email == hostval;
			}));
		}
		window.setTimeout((function(){
			this.$.timeslotHostList.value = null;
		}).bind(this),100);
	},
	
	startAddUser : function() {
		this.$.addUserName.value = null;
		this.$.addUserEmail.value = null;
		this.$.addUserDialog.toggle();
	},
	
	finishAddUser : function() {
		if (!this.$.addUserName.value) {
			alert("Invalid user name!");
			return;
		}
		if (!this.$.addUserEmail.value || !this.$.addUserEmail.value.match(/@/)){
			alert("Invalid user email!");
			return;
		}
		
		return ConTroll.users.create(this.$.addUserName.value, this.$.addUserEmail.value, (function(res){
			app.invalidateCatalog('users');
			this.refreshData();
			this.push('hosts', res);
			this.startAddUser();
		}).bind(this));
	},
	
	removeTimeslotHost : function(event) {
		var hosttoremove = this.hosts.indexOf(event.model.host);
		this.splice('hosts', hosttoremove, 1);
	}
	
});
</script>
