<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">

<dom-module id="controll-create-user-pass">
<template>
	<style include="shared-styles"></style>
	<style>
		paper-menu {
		--paper-input-container-input: { 
			unicode-bidi : plaintext;
		}
		}
		paper-dropdown-menu.passlist, paper-dropdown-menu.passlist paper-menu {
			width: 20rem;
		}
		paper-dialog > * { margin-top: 0; }
		paper-dialog > paper-item { min-height: 1.4rem; }
		paper-item-body { margin: 0 1rem; }
		.pass-holder-pass-title { margin-top: 1rem; }
		paper-input {
			--paper-input-container: {
				padding: 0;
			}
		}
		#warning {
			text-align: center;
			padding: 1em 1em 0 1em;
			border: solid darkred 3px;
		}
		#warning paper-item {
			text-align: center;
		}
		paper-dialog.notification {
			text-align: center;
			padding: 1em 1em 0 1em;
			border: solid cornflowerblue 3px;
		}
		.iframeholder {
			width: 95%;
			min-height: 80%;
		}
		.iframeholder iframe {
		}
	</style>
	
	<paper-button raised on-tap="startBuyPass" disabled$="[[isDisabled]]"><iron-icon icon="add-circle"></iron-icon>
		<content>Create A New User Pass</content>
	</paper-button>
	
	<paper-dialog id="buyPassDialog" modal>
		<controll-user-select id="userSelect" value="{{user}}" hidden$="[[!notPreselected]]"></controll-user-select>
		<paper-item>Pass holders:</paper-item>
		<template is="dom-repeat" items="{{passesToBuy}}" as="passToBuy">
			<paper-item class="container flex-horizontal">
				<paper-item-body class="flexchild pass-holder-pass-title">
				[[passToBuy.type.title]]
				</paper-item-body>
				<paper-item-body class="flexchild">
				<paper-input value="{{passToBuy.name}}" label="Name"></paper-input>
				</paper-item-body>
				<paper-item-body>
					<paper-icon-button icon="remove-circle" on-tap="removePassToBuy">Remove</paper-icon-button>
				</paper-item-body>
			</paper-item>
		</template>
		<paper-dropdown-menu label="Add Pass" class="passlist">
			<paper-menu class="dropdown-content" selected="{{selectedPass}}" attr-for-item-title="label" attr-for-selected="value">
				<template is="dom-repeat" items="[[passTypes]]" as="pass">
					<paper-item lavel="[[pass.title]]" value="[[pass]]">[[pass.title]] : ¤[[pass.price]]</paper-item>
				</template>
			</paper-menu>
		</paper-dropdown-menu>
		<paper-item>
			<paper-item-body class="strong">Cost:</paper-item-body>
			<paper-item-body>¤[[passesCost]]</paper-item-body>
		</paper-item>
		<paper-item hidden$="[[!totalCoupons]]">
			<paper-item-body class="string">Coupons:</paper-item-body>
			<paper-item-body>¤[[totalCoupons]]</paper-item-body>
		</paper-item>
		<paper-item hidden$="[[!totalCoupons]]">
			<paper-item-body class="string">Total:</paper-item-body>
			<paper-item-body>¤[[finalCost]]</paper-item-body>
		</paper-item>
		<paper-item class="container flex-horizontal">
			<paper-button raised on-tap="approveBuyPassCash"><iron-icon icon="euro-symbol"></iron-icon>Cash Received</paper-button>
			<paper-button raised on-tap="approveBuyPassCredit"><iron-icon icon="credit-card"></iron-icon>Charge Credit Cart</paper-button>
			<paper-button raised on-tap="cancelBuyPass"><iron-icon icon="close"></iron-icon>Cancel</paper-button>
		</paper-item>
	</paper-dialog>
	
	<paper-dialog id="confirmCash" modal class="notification">
		<paper-item>
			Has the customer payed 
			<paper-item-body>¤[[passesCost]]</paper-item-body>
			in cash?
		</paper-item>
		<paper-item class="container flex-horizontal">
			<paper-button raised on-tap="confirmCashOK"><iron-icon icon="check"></iron-icon>Yes</paper-button>
			<paper-button raised on-tap="approveBuyPassCash"><iron-icon icon="close"></iron-icon>No</paper-button>
		</paper-item>
	</paper-dialog>
	
	<paper-dialog id="warning">
		<paper-item>[[warningText]]</paper-item>
		<paper-item class="flex layout horizontal center">
			<paper-button raised on-tap="closeWarning"><iron-icon icon="close"></iron-icon>Close</paper-button>
		</paper-item>
	</paper-dialog>
	
	<div style="display: none">
		<form method="POST" action="[[apiEndpoint()]]/checkout" id="creditCheckoutForm" target="cc_checkout">
			<input type="hidden" name="convention" value="">
			<input type="hidden" name="token" value="">
			<input type="hidden" name="ok" value="">
			<input type="hidden" name="fail" value="">
			<input type="hidden" name="user" value="">
		</form>
	</div>
	
	<paper-dialog id="creditCheckoutPayment" lang="he" class="iframeholder" modal>
	</paper-dialog>
	
</template>
</dom-module>

<script>
Polymer({
	is : 'controll-create-user-pass',
	properties : {
		isDisabled : {
			type: Boolean,
			notify: true,
			value: false
		},
		passTypes : {
			type: Array,
			value : function() { return []; }
		},
		user : {
			type: Object,
			value: 'auto',
			observer: 'getUserReport'
		},
		passesToBuy : {
			type: Array,
			value : function() { return []; }
		},
		passesCost : {
			type: Number,
			value: 0,
			notify: true,
			observer: 'calculateCost'
		},
		selectedPass : {
			observer: 'passSelected'
		},
		availablePasses : {
			type: Array,
			notify: true
		},
		totalCoupons : {
			type: Number,
			value: 0,
			observer: 'calculateCost',
			notify: true
		},
		finalCost : {
			type: Number,
			value: 0
		},
		notPreselected : {
			type: Boolean,
			value: false,
			notify: true
		}
	},
	
	ready : function() {
	},

	attached : function() {
		app.addEventListener('please-refresh-lists', this.refreshData.bind(this), false);
	},
	
	refreshData : function() {
		app.getCatalog('passes', this.set.bind(this, 'passTypes'));
	},
	
	apiEndpoint : function() {
		return ConTroll.getEndpoint();
	},
	
	updateCouponList : function(coupons) {
		this.set('totalCoupons', coupons.reduce(function(sum, coupon){
			if (coupon.used)
				return sum;
			return sum + parseFloat(coupon.value);
		}, 0));
	},
	
	userPreSelected : function(user) {
		return !this.notPreselected;
	},
	
	getUserReport : function(newval, oldval) {
		if (newval == 'auto')
			this.notPreselected = true;
		if (!this.user || newval == 'auto')
			return;
		app.startLoading();
		// start by cleaning out reserved passes, to free up coupons
		ConTroll.userpasses.userReport(this.user.id, false, function(passes){
			this.set('availablePasses', passes.filter(function(pass){ return pass.status == 'authorized'; }));
			this.cancelPasses(passes.filter(function(pass){
				return [ 'reserved', 'processing' ].indexOf(pass.status) >= 0;
			}).map(function(pass){ return pass.id; }), function(){
				// now list coupoons
				ConTroll.users.get(this.get('user').id, function(user){
					this.set('totalCoupons', user.coupons.filter(function(c) {
						return !c.used;
					}).map(function(c){
						return parseFloat(c.value);
					}).reduce(function(sum,val){
						return sum + val;
					},0));
					app.doneLoading();
				}.bind(this));
			}.bind(this));
		}.bind(this));
	},
	
	calculateCost : function() {
		this.set('finalCost', Math.max(0, this.passesCost - this.totalCoupons));
	},
	
	startBuyPass : function() {
		if (!this.notPreselected)
			return this.$.buyPassDialog.toggle();
		
		this.$.userSelect.show(function() {
			this.$.buyPassDialog.toggle();
		}.bind(this));
	},
	
	passSelected : function(pass) {
		if (!pass)
			return;
		this.push('passesToBuy', { type: pass, name: '' });
		this.calculateCost();
		this.selectedPass = null;
	},
	
	calculateCost : function() {
		this.set('passesCost', this.passesToBuy.reduce(function(acc,val){
			return acc + parseFloat(val.type.price);
		}, 0));
	},
	
	removePassToBuy: function (event) {
		this.splice('passesToBuy', event.model.index, 1);
		this.calculateCost();
	},
	
	approveBuyPassCash : function() {
		if (!this.verifyRequirements())
			return;
		this.$.confirmCash.toggle();
	},
	
	confirmCashOK : function() {
		this.$.confirmCash.toggle();
		this.approveBuyPass(false);
	},
	
	approveBuyPassCredit : function() {
		if (!this.verifyRequirements())
			return;
		this.approveBuyPass(true);
	},

	verifyRequirements : function() {
		try {
			if (!this.user || !this.user.id)
				throw new Error('Must select a user to sell the pass to!');
			this.passesToBuy.forEach(function(pass){
				if (!pass.name.trim())
					throw new Error('Each pass must have a name assigned!');
			});
			return true;
		} catch (e) {
			this.showWarning(e.message);
			return false;
		}
	},
	
	approveBuyPass : function(cc) {
		this.issuePasses(cc, this.user.id, this.passesToBuy);
	},
	
	cancelPasses : function(passIdList, callback) {
		if (!passIdList || passIdList.length == 0)
			return callback();
		var id = passIdList.shift();
		ConTroll.userpasses.remove(id, this.cancelPasses.bind(this, passIdList, callback));
	},
	
	issuePasses : function(cc, userId, passList) {
		if (!passList || passList.length == 0)
			return this.performCheckout(cc, userId);
		
		var nextPass = passList.shift();
		ConTroll.userpasses.create(userId, nextPass.name, nextPass.type.id, this.issuePasses.bind(this, cc, userId, passList));
	},
	
	performCheckout : function(cc, userId) {
		if (!cc)
			return this.cashCheckout(userId);
		
		var id = 'cc_checkout_' + parseInt(Math.random()*10000);
		var form = this.$.creditCheckoutForm;
		form.elements['convention'].value = app.convention.public_key;
		form.elements['token'].value = ConTroll.getAuthToken();
		form.elements['ok'].value = window.location.protocol + '//' + window.location.host + '/cc_complete_ok.html';
		form.elements['fail'].value = window.location.protocol + '//' + window.location.host + '/cc_complete_fail.html';
		form.elements['user'].value = userId;
		this.$.buyPassDialog.toggle();
		
		var ifr = this.$.creditCheckoutPayment.querySelector("iframe");
		if (ifr)
			this.$.creditCheckoutPayment.removeChild(ifr);
		var ifr  = document.createElement('iframe');
		ifr.name = id;
		this.$.creditCheckoutPayment.appendChild(ifr);
		this.$.creditCheckoutPayment.toggle();
		
		app.ccCheckoutOK = this.ccCompleteOK.bind(this);
		app.ccCheckoutFail = this.ccCompleteFail.bind(this);
		window.setTimeout(function(){
			with (ifr.style) {
				height = (window.innerHeight - 120) + 'px';
				width = '100%';
				margin = '0';
				padding = '0';
				border = '0';
				position = 'absolute';
				left = '0';
				right = '0';
			}
			form.target = id;
			form.submit();
		}.bind(this), 500);
	},
	
	cashCheckout : function(userId) {
		ConTroll.cashout(userId, this.get('passesCost'), function(res){
			this.$.buyPassDialog.toggle();
			if (!res.status) {
				alert("שגיאה באישור תשלום! צור קשר עם מנהל הקופות");
			}
			this.resetProcess();
			app.invalidateCatalog('userpasses');
			this.fire('complete');
		}.bind(this));
	},
	
	ccCompleteOK : function() {
		this.$.creditCheckoutPayment.toggle();
		this.resetProcess();
		app.invalidateCatalog('userpasses');
		this.fire('complete');
	},
	
	ccCompleteFail : function(reason) {
		this.$.creditCheckoutPayment.toggle();
		this.resetProcess();
		alert("שגיאה בתשלום באשראי: " + reason);
		this.fire('error');
	},
	
	cancelBuyPass : function(event) {
		this.$.buyPassDialog.toggle();
		this.resetProcess();
	},
	
	resetProcess : function() {
		this.set('totalCoupons',0);
		//this.set('user', null);
		this.set('selectedPass', '');
		this.set('passesToBuy', []);
		this.set('passesCost', 0);
	},
	
	showWarning: function(message) {
		this.set('warningText', message);
		this.$.warning.toggle();
	},
	
	closeWarning : function() {
		this.set('warningText', '');
		this.$.warning.toggle();
	}
});
</script>
