<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">

<dom-module id="controll-create-user-pass">
<template>
	<style>
	</style>
	
	<paper-button raised><iron-icon icon="add-circle"></iron-icon>Create A New User Pass</paper-button>
	
</template>
</dom-module>

<script>
Polymer({
	is : 'controll-create-user-pass',
	properties : {
	},

	ready : function() {
	},

	attached : function() {
	}
});
</script>
