<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">

<dom-module id="controll-user-select">
<template>
	<style include="shared-styles"></style>
	<style>
	*[lang=he] {
		direction: rtl;
	}
	paper-item paper-item-body {
		margin: 0 1em;
	}
	paper-material {
		padding: 1em;
		background: white;
		margin-bottom: 1em;
	}
	paper-material table {
		border-collapse: collapse;
	}
	paper-material table td {
		border: solid black 1px;
		padding: .5em;
	}
	</style>
	<style is="custom-style" include="iron-flex iron-flex-alignment"></style>
	
	<paper-item>
		<paper-item-body>
		<vaadin-combo-box label="Name" id="selectUserName" items="[[users]]" item-label-path="name" item-value-path="id"
				on-value-changed="syncSelectUser"></vaadin-combo-box>
		</paper-item-body>
		<paper-item-body>
		<vaadin-combo-box label="E-Mail" id="selectUserEmail" items="[[users]]"  item-label-path="email" item-value-path="id"
				on-value-changed="syncSelectUser"></vaadin-combo-box>
		</paper-item-body>
		<paper-item-body>
		<paper-icon-button icon="add-circle" on-tap="addNewUser" title="Add A New User"></iron-icon>
		</paper-item-body>
	</paper-item>
	
	<paper-dialog id="newUserForm" modal>
		<paper-input id="newUserName" label="Name"></paper-input>
		<paper-input id="newUserEmail" label="E-Mail"></paper-input>
		<paper-item class="container flex-horizontal">
			<paper-button raised on-tap="approve"><iron-icon icon="check"></iron-icon>Add</paper-button>
			<paper-button raised on-tap="cancel"><iron-icon icon="close"></iron-icon>Cancel</paper-button>
		</paper-item>
	</paper-dialog>

</template>
</dom-module>

<script>
Polymer({
	is : 'controll-user-select',
	properties : {
		value: {
			type: Object,
			observer: '_onValueChanged',
			notify: true
		},
		name: {
			type: String,
			observer: '_onNameChanged',
			notify: true
		},
		email: {
			type: String,
			observer: '_onEmailChanged',
			notify: true
		},
		users : Array,
		usersNames : Array,
		usersEmails : Array
	},

	ready : function() {
	},
	
	attached : function() {
	},
	
	_onValueChanged : function(event) {
	},
	
	_onNameChanged : function(event) {
	},
	
	_onEmailChanged : function(event) {
	},
	
	addNewUser : function(event) {
		this.$.newUserName.value = '';
		this.$.newUserEmail.value = '';
		this.$.newUserForm.toggle();
	},
	
	approve : function() {
		ConTroll.users.create(this.$.newUserName.value, this.$.newUserEmail.value,
				function(){
			this.set('name', this.$.newUserName.value);
			this.set('email', this.$.newUserEmail.value);
			app.invalidateCatalog('users');
			this.refreshData(function(){
				this.addNewUser();
			}.bind(this));
		}.bind(this));
	},
	
	cancel : function() {
		this.addNewUser();
	},
	
	show : function(onComplete) {
		this.$.selectUserName.value = null;
		this.$.selectUserEmail.value = null;
		this.set('users', null);
		this.set('usersNames', null);
		this.set('usersEmails', null);
		this.refreshData(onComplete || function(){});
	},
	
	refreshData : function(onComplete) {
		app.getCatalog('users', function(users){
			console.log("Listing users, got",users.length);
			this.set('users', users);
			this.set('usersNames', users.map(function(user){
				return user.name;
			}));
			this.set('usersEmails', users.map(function(user){
				return user.email;
			}));
			var user = this.users.find(function(user){
				return (this.value && this.value.id == user.id) ||
					(this.email && this.email == user.email) ||
					(this.name && this.name == user.name)
			}.bind(this));
			if (user) {
				this.$.selectUserName.value = user.id;
				this.$.selectUserEmail.value = user.id;
				this.updateUser(user);
			}
			(onComplete || function(){})();
		}.bind(this));
	},
	
	syncSelectUser : function(event) {
		if (!this.users || (!this.$.selectUserName.value && !this.$.selectUserEmail.value)) // could happen during init
			return;
		if (!event.target.selectedItem)
			return;
		var inputElId = event.target.id;
		if (inputElId == 'selectUserName') {
			this.$.selectUserEmail.value = event.target.value;
		} else {
			this.$.selectUserName.value = event.target.value;
		}
		var value = event.target.value;
		var user = this.users.find(function(user){ return user.id == value; });
		this.updateUser(user);
	},
	
	updateUser : function(user) {
		this.set('value', user);
		this.set('name', user ? user.name : null);
		this.set('email', user ? user.email : null);
	}
	
});
</script>
