<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">

<dom-module id="controll-schedule-item">
<template>
	<style>
	*[lang=he] {
		direction: rtl;
	}
	paper-item paper-input {
		margin: 0 1em;
	}
	paper-material {
		padding: 1em;
		background: white;
		margin-bottom: 1em;
	}
	.flexchild { 
		@apply (--layout-flex);
	}
	.text-block {
		display: inline-block;
		margin: 0 !important;
	}
	.description {
		unicode-bidi: plaintext;
	}
	</style>
	<style is="custom-style" include="iron-flex iron-flex-alignment"></style>

	<paper-material elevation="2" on-tap="expand">
		<paper-item class="container flex-horizontal">
			<paper-item-body hidden$="[[!expandable]]">
				<iron-icon icon="arrow-drop-up" hidden$="[[showDescription]]"></iron-icon>
				<iron-icon icon="arrow-drop-down" hidden$="[[!showDescription]]"></iron-icon>
			</paper-item-body>
			<div>
				<span>[[timeslot.id]].</span>
				<strong>Start Time:</strong>
				<span>[[timeslot.displayTime]]</span>
				<strong>Duration:</strong>
				<span>[[timeslot.duration]] minutes</span>
			</div>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<div class="flexchild">
				<strong>Locations:</strong>
				<template is="dom-repeat" items="[[timeslot.locations]]" as="location">
					<div class="text-block">[[location.title]]</div>
				</template>
			</div>
			<paper-icon-button icon="create" title="Edit" on-tap="updateSchedule" hidden$="[[readonly]]"></paper-icon-button>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<div class="flexchild">
				<strong>Hosts:</strong>
				<template is="dom-repeat" items="[[timeslot.hosts]]" as="host">
					<span title="[[host.email]]">[[host.name]]</span>
				</template>
			</div>
			<content>
			<paper-icon-button icon="create" title="Edit" on-tap="updateHosts" hidden$="[[readonly]]"></paper-icon-button>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<paper-icon-button icon="clear" title="Remove" on-tap="removeTimeslot" hidden$="[[readonly]]"></paper-icon-button>
			</content>
		</paper-item>
		<paper-item class="description" hidden$="[[!showDescription]]">
			<paper-item-body>[[timeslot.event.teaser]]</paper-item-body>
			<paper-item-body>[[timeslot.event.description]]</paper-item-body>
		</paper-item>
	</paper-material>
	
	<paper-dialog id="editLocations" modal>
		<controll-locations-editor locations="{{locationsToEdit}}" is-disabled="[[readonly]]"></controll-locations-editor>
		<paper-item class="container flex-horizontal">
			<paper-button raised on-tap="approve"><iron-icon icon="check"></iron-icon>OK</paper-button>
			<paper-button raised on-tap="cancel"><iron-icon icon="close"></iron-icon>Cancel</paper-button>
		</paper-item>
	</paper-dialog>
	
	<paper-dialog id="editHosts" modal>
		<controll-hosts-editor hosts="{{hostsToEdit}}" is-disabled="[[readonly]]"></controll-hosts-editor>
		<paper-item class="container flex-horizontal">
			<paper-button raised on-tap="approveHosts"><iron-icon icon="check"></iron-icon>OK</paper-button>
			<paper-button raised on-tap="cancelHosts"><iron-icon icon="close"></iron-icon>Cancel</paper-button>
		</paper-item>
	</paper-dialog>

	<paper-dialog id="removeTimeslotDialog" modal>
		<paper-item>
			Are you sure you want to remove the schedule for [[timeslot.displayTime]]?
		</paper-item>
		<paper-item class="container flex-horizontal">
			<paper-button raised on-tap="approveRemove"><iron-icon icon="check"></iron-icon>OK</paper-button>
			<paper-button raised on-tap="removeTimeslot"><iron-icon icon="close"></iron-icon>Cancel</paper-button>
		</paper-item>
	</paper-dialog>

</template>
</dom-module>

<script>
	Polymer({
		is : 'controll-schedule-item',
		properties : {
			timeslot: {
				type: Object,
				observer: '_timeslotUpdated',
				notify: true
			},
			
			readonly : {
				type: Boolean,
				value: false
			},
			
			expandable : {
				type: Boolean,
				value: false
			},
			
			showDescription : {
				type: Boolean,
				value: false
			}
		},

		ready : function() {
		},

		attached : function() {
		},
		
		_timeslotUpdated: function(timeslot) {
		},
		
		updateSchedule : function(event) {
			this.set('locationsToEdit', this.timeslot.locations.slice());
			this.$.editLocations.toggle();
		},
		
		approve : function() {
			var newLocations = this.locationsToEdit.sort(function(a,b){
				return a.slug.localeCompare(b.slug);
			});
			var locationsToRemove = this.timeslot.locations.filter(function(loc){
				return !newLocations.find(function(nloc){ return nloc.slug == loc.slug; });
			});
			ConTroll.timeslots.updateLocations(this.timeslot.id, newLocations, 
					locationsToRemove, function(){
				this.set('timeslot.locations', []);
				this.set('timeslot.locations', newLocations);
				this.updateSchedule();
			}.bind(this));
		},
		
		cancel : function() {
			this.updateSchedule();
		},
		
		updateHosts : function(event) {
			this.set('hostsToEdit', this.timeslot.hosts.slice());
			this.$.editHosts.toggle();
		},
		
		approveHosts : function() {
			var newHosts = this.hostsToEdit.map(function(host){return { name: host.name, email: host.email }});
			var hostsToRemove = this.timeslot.hosts.filter(function(host){
				return !this.hostsToEdit.find(function(nhost){ return nhost.email == host.email; });
			}.bind(this)).map(function(host){return { name: host.name, email: host.email }});
			ConTroll.timeslots.updateHosts(this.timeslot.id, newHosts, hostsToRemove, function(){
				this.set('timeslot.hosts', []);
				this.set('timeslot.hosts', this.hostsToEdit);
				this.updateHosts();
			}.bind(this));
		},
		
		cancelHosts : function() {
			this.updateHosts();
		},
		
		removeTimeslot : function() {
			this.$.removeTimeslotDialog.toggle();
		},
		
		approveRemove : function() {
			this.fire('remove', { model: {timeslot: this.get('timeslot') }});
		},
		
		expand : function() {
			if (!this.expandable)
				return;
			this.set('showDescription', !this.showDescription);
		}

	});
</script>
