<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">

<dom-module id="controll-sales">
<template>
	<style include="shared-styles"></style>
	<style>
	*[lang=he] {
		direction: rtl;
	}
	paper-item paper-input {
		margin: 0 1em;
	}
	paper-material {
		padding: 1em;
		background: white;
		margin-bottom: 1em;
	}
	paper-material table {
		border-collapse: collapse;
	}
	paper-material table td {
		border: solid black 1px;
		padding: .5em;
	}
	</style>
	<style is="custom-style" include="iron-flex iron-flex-alignment"></style>
	
	<paper-material>
	<h3>Totals:</h3>
	<table>
	<thead>
	<tr>
	<th>Code</th>
	<th>Name</th>
	<th>Total</th>
	</tr>
	</thead>
	<tbody>
	<template is="dom-repeat" items="[[skutotals]]" as="sku">
		<tr><td lang="he">[[sku.code]]</td><td lang="he">[[sku.title]]</td><td>[[sku.total]]</td></tr>
	</template>
	</tbody>
	</table>
	</paper-material>
	
	<paper-material>
	<template is="dom-repeat" items="[[purchases]]" as="sale">
		<paper-item class="layout horizontal">
			<paper-input readonly label="Name" value="{{sale.user.name}}"></paper-input>
			<paper-input readonly label="E-Mail" value="{{sale.user.email}}"></paper-input>
			<paper-input readonly class="flex" label="SKU" value="{{sale.sku.title}}" lang="he"></paper-input>
			<paper-input readonly label="Amount" value="{{sale.amount}}"></paper-input>
		</paper-item>
	</template>
	</paper-material>
	
</template>
</dom-module>

<script>
Polymer({
	is : 'controll-sales',
	properties : {
		purchases : {
			type: Array,
			observer: 'updatedSales'
		},
		skutotals : Array,
		start: {
			type: String,
			observer: 'startSalesReport'
		}
	},

	ready : function() {
	},
	
	startSalesReport : function(start) {
		if (!start)
			return;
		this.set('start',null);
		app.getCatalog('purchases', this.populateSales.bind(this));
	},

	attached : function() {
		app.addEventListener('please-refresh-lists', this.startSalesReport.bind(this), false);
	},
	
	populateSales : function(sales) {
		this.set('purchases', sales.filter(function(sale){
			return sale.status == "authorized";
		}).sort(function(a,b){
			return a.user.name.localeCompare(b.user.name);
		}));
	},
	
	updatedSales : function(sales) {
		var summary = {};
		var codes = {};
		sales.forEach(function(sale){
			if (!summary[sale.sku.code]) {
				summary[sale.sku.code] = 0;
				codes[sale.sku.code] = sale.sku.title;
			}
			summary[sale.sku.code] += 1;
		})
		var totals = [];
		for (var code in summary)
			totals.push({
				code: code,
				total: summary[code],
				title: codes[code]
			});
		this.set('skutotals',totals.sort(function(a,b){
			return a.title.localeCompare(b.title);
		}));
	}
});
</script>
