<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">

<dom-module id="controll-passes">
<template>
	<style include="shared-styles"></style>
	<style>
	paper-item paper-item-body {
		margin: 0 1em;
	}
	paper-input {
		margin: 0 1em;
	}
	paper-input.short {
		width: 30rem;
	}
	paper-item {
		min-height: auto;
	}
	vaadin-grid {
		--vaadin-grid-cell: { 
			unicode-bidi: plaintext;
		}
		--vaadin-grid-body-row-hover-cell: {
			background-color: var(--paper-grey-200);
		};
		--vaadin-grid-body-row-selected-cell: {
			background-color: var(--paper-grey-100);
		};
		--vaadin-grid-body-row-odd-cell: {
			background-color: #f5f5f5;
		};
	}
	</style>
	
	<paper-material>
		<paper-item class="container flex-horizontal">
			<div hidden$="{{unlessManager}}">
				<paper-item>
					<paper-item-body class="strong">Total passes sold:</paper-item-body>
					<paper-item-body>[[userpassesData.length]]</paper-item-body>
				</paper-item>
				<paper-item>
					<paper-item-body class="strong">Total revenue:</paper-item-body>
					<paper-item-body>¤[[revenue]]</paper-item-body>
				</paper-item>
			</div>
			<div class="flexchild"><!-- spacer --></div>
			<div>
				<controll-create-user-pass on-complete="refreshData"></controll-create-user-pass>
			</div>
		</paper-item>
	</paper-material>
	
	<paper-material>
	<paper-item>
		<paper-input label="Search" id="userpassFilter" on-keyup="runFilter" class="short"></paper-input>
		<paper-item-body class="flexchild"><!-- spacer --></paper-item-body>
		<paper-dropdown-menu label="Pass Type" class="passlist">
			<paper-menu class="dropdown-content" selected="{{selectedPassType}}" attr-for-selected="value">
				<template is="dom-repeat" items="[[passTypes]]" as="item">
					<paper-item value="[[item]]">[[item]]</paper-item>
				</template>
			</paper-menu>
		</paper-dropdown-menu>
		<paper-item-body class="flexchild"><!-- spacer --></paper-item-body>
		<paper-icon-button icon="backspace" on-tap="clearFilter">Clear</paper-icon-button>
	</paper-item>
	
	<vaadin-grid items="[[userpasses]]" multi-sort>
		<vaadin-grid-column flex-grow="1">
			<template class="header"><vaadin-grid-sorter path="name">Name</vaadin-grid-sorter></template>
			<template>[[item.name]]</template>
		</vaadin-grid-column>
		<vaadin-grid-column flex-grow="1">
			<template class="header"><vaadin-grid-sorter path="user.name">User</vaadin-grid-sorter></template>
			<template><paper-item title="[[item.user.email]]">[[item.user.name]]</paper-item></template>
		</vaadin-grid-column>
		<vaadin-grid-column flex-grow="1">
			<template class="header"><vaadin-grid-sorter path="pass.title">Type</vaadin-grid-sorter></template>
			<template>[[item.pass.title]]</template>
		</vaadin-grid-column>
		<vaadin-grid-column width="6rem" flex-grow="0">
			<template class="header"><vaadin-grid-sorter path="price">Cost</vaadin-grid-sorter></template>
			<template>¤[[item.price]]</template>
		</vaadin-grid-column>
		<vaadin-grid-column flex-grow="0" width="45px">
			<template class="header"><iron-icon icon="assignment"></iron-icon></template>
			<template>
				<paper-icon-button icon="assignment" on-tap="registrationReport" title="Registration report"></paper-icon-button>
			</template>
		</vaadin-grid-column>

	</vaadin-grid>
	</paper-material>
	
	<controll-registration-report pass="{{passToReport}}"></controll-registration-report>
	
</template>
</dom-module>

<script>
Polymer({
	is : 'controll-passes',
	properties : {
		userpassesData : {
			type: Array
		},
		userpasses : {
			type: Array,
			notify: true
		},
		revenue : {
			type: Number,
			value: 0
		},
		unlessManager : {
			type: Boolean,
			value: true
		},
		passTypes : {
			type: Array,
			value: function() { return []; }
		},
		selectedPassType : {
			observer: 'runFilter',
			notify: true
		},
		passToReport : {
			type: Object,
			notify: true
		},
		start : {
			observer: 'startReport'
		}
	},

	ready : function() {
	},

	attached : function() {
		app.addEventListener('please-refresh-lists', this.refreshData.bind(this), false);
	},
	
	startReport: function() {
		if (this.start)
			this.refreshData();
	},
	
	refreshData : function() {
		this.set('unlessManager', app.unlessManager(app.role));
		if (!this.start)
			return;
		app.getCatalog('userpasses', function(userpasses){
			console.log("Loaded passes");
			var passTypes = {};
			var revenue = 0;
			this.set('userpassesData', userpasses.map(function(pass){
				pass = app.dejsonify(pass);
				pass.user.name = pass.user.name.trim() ? pass.user.name.trim() : pass.user.email;
				pass.price = parseFloat(pass.price);
				passTypes[pass.pass.title] = 1;
				revenue += parseFloat(pass.price);
				return pass;
			}.bind(this)));
			this.set('revenue', revenue);
			this.set('passTypes', Object.keys(passTypes));
			this.runFilter();
		}.bind(this));
	},
	
	runFilter : function() {
		var filter = this.$.userpassFilter.value.trim();
		var expression = new RegExp(filter.replace("\\","\\\\"),'i');
		this.set('userpasses', this.userpassesData.filter(function(pass){
			return (
					pass.name.match(expression) || 
					pass.user.name.match(expression) ||
					pass.user.email.match(expression) ||
					pass.pass.title.match(expression)
				) && (
					// handle pass type in addition to search filter
					this.selectedPassType ? (pass.pass.title == this.selectedPassType) : true 
				);
		}.bind(this)));
	},
	
	clearFilter : function() {
		this.$.userpassFilter.value = '';
		this.selectedPassType = '';
		this.set('userpasses', this.userpassesData);
	},
	
	registrationReport : function(event) {
		this.set('passToReport', event.model.item);
	}
	
});
</script>
