<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">

<dom-module id="controll-passes">
<template>
	<style>
	.flexchild { 
		@apply (--layout-flex);
	}
	paper-item paper-item-body {
		margin: 0 1em;
	}
	.strong {
		font-weight: bold;
	}
	paper-input {
		margin: 0 1em;
	}
	paper-input.short {
		width: 30rem;
	}
	</style>
	<style is="custom-style" include="iron-flex iron-flex-alignment"></style>
	
	<paper-material>
		<paper-item>
			<paper-item-body class="strong">Total passes sold:</paper-item-body>
			<paper-item-body>[[userpasses.length]]</paper-item-body>
		</paper-item>
		<paper-item>
			<paper-item-body class="strong">Total revenue:</paper-item-body>
			<paper-item-body>¤[[revenue]]</paper-item-body>
		</paper-item>
	</paper-material>
	
	<paper-material>
	<paper-item>
		<paper-input label="Search" id="userpassFilter" on-keyup="runFilter" class="short"></paper-input>
		<paper-item-body class="flexchild"><!-- spacer --></paper-item-body>
		<paper-dropdown-menu label="Pass Type">
			<paper-menu class="dropdown-content" selected="{{selectedPassType}}" attr-for-selected="value">
				<template is="dom-repeat" items="[[passTypes]]" as="item">
					<paper-item value="[[item]]">[[item]]</paper-item>
				</template>
			</paper-menu>
		</paper-dropdown-menu>
		<paper-item-body class="flexchild"><!-- spacer --></paper-item-body>
		<paper-icon-button icon="backspace" on-tap="clearFilter">Clear</paper-icon-button>
	</paper-item>
	<template is="dom-repeat" items="[[userpasses]]" as="pass">
		<paper-item  class="container flex-horizontal">
		
		<paper-item-body class="strong">Name: </paper-item-body>
		<paper-item-body class="flexchild">[[pass.name]]</paper-item-body>
		
		<paper-item-body class="strong">For: </paper-item-body>
		<paper-item-body class="flexchild" title="[[pass.user.email]]">[[pass.user.name]]</paper-item-body>
		
		<paper-item-body class="strong">Type: </paper-item-body>
		<paper-item-body class="flexchild" title="[[pass.pass.title]] (¤[[pass.pass.price]])">[[pass.pass.title]]</paper-item-body>
		
		<paper-item-body class="strong">Price: </paper-item-body>
		<paper-item-body class="flexchild">[[pass.price]]</paper-item-body>
	</template>
	</paper-material>
	
</template>
</dom-module>

<script>
Polymer({
	is : 'controll-passes',
	properties : {
		userpassesData : {
			type: Array
		},
		userpasses : {
			type: Array,
			notify: true
		},
		revenue : {
			type: Number,
			value: 0
		},
		passTypes : {
			type: Array,
			value: function() { return []; }
		},
		selectedPassType : {
			observer: 'runFilter',
			notify: true
		}
	},

	ready : function() {
	},

	attached : function() {
		app.addEventListener('please-refresh-lists', this.refreshData.bind(this), false);
	},
	
	refreshData : function() {
		app.getCatalog('userpasses', function(userpasses){
			var passTypes = {};
			this.set('userpassesData', userpasses.map(function(pass){
				pass = app.dejsonify(pass);
				pass.user.name = pass.user.name.trim() ? pass.user.name.trim() : pass.user.email;
				this.set('revenue', this.revenue + parseFloat(pass.price));
				passTypes[pass.pass.title] = 1;
				return pass;
			}.bind(this)));
			this.set('userpasses', this.userpassesData);
			this.set('passTypes', Object.keys(passTypes));
		}.bind(this));
	},
	
	runFilter : function() {
		var filter = this.$.userpassFilter.value.trim();
		var expression = new RegExp(filter);
		this.set('userpasses', this.userpassesData.filter(function(pass){
			return (
					pass.name.match(expression) || 
					pass.user.name.match(expression) ||
					pass.user.email.match(expression) ||
					pass.pass.title.match(expression)
				) && (
					// handle pass type in addition to search filter
					this.selectedPassType ? (pass.pass.title == this.selectedPassType) : true 
				);
		}.bind(this)));
	},
	
	clearFilter : function() {
		this.$.userpassFilter.value = '';
		this.selectedPassType = '';
		this.set('userpasses', this.userpassesData);
	}
	
});
</script>
