<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">

<dom-module id="controll-cashier-screen">
<template>
	<style include="iron-flex iron-flex-alignment"></style>
	<style>
	.container {
		@apply (--layout-horizontal);
		@apply (--layout-wrap);
		margin-bottom: .5rem;
	}
	
	.colbox {
		@apply (--layout-flex);
		margin: 0 0.2rem;
	}
	
	.flexchild {
		@apply (--layout-flex);
	}
	.card-content {
		@apply (--layout-self-strech);
	}
	.passtext {
		unicode-bidi: plaintext;
	}
	vaadin-grid {
		direction: rtl;
		--vaadin-grid-cell: {
			direction: rtl; 
			unicode-bidi: plaintext;
			text-align: right;
		}
		
		--vaadin-grid-body-row-details-cell: {
			white-space: normal;
		}
		--vaadin-grid-body-row-hover-cell: {
			background-color: var(--paper-grey-200);
		};
		--vaadin-grid-body-row-selected-cell: {
			background-color: var(--paper-grey-100);
		};
		--vaadin-grid-body-row-odd-cell: {
			background-color: #f5f5f5;
		};
	}
	</style>
	
	<div class="container">
		<paper-card class="colbox">
			<div class="card-content">
				<controll-user-select id="userSelect" value="{{user}}"></controll-user-select>
				<controll-create-user-pass id="buyPass" user="[[user]]" is-disabled="[[!user]]"
					available-passes="{{userPasses}}" available-coupons="{{availableCoupons}}"
					on-complete="updatePasses" on-error="updatePasses">Buy Passes</controll-create-user-pass>
			</div>
		</paper-card>
	
		<paper-card class="colbox">
			<div class="card-content">
				<paper-item>Passes:</paper-item>
				<template is="dom-repeat" items="[[userPasses]]" as="pass">
					<paper-item class="container">
						<paper-item-body class="passtext flexchild">[[pass.name]]</paper-item-body>
						<paper-item-body>: </paper-item-body>
						<paper-item-body class="passtext flexchild">[[pass.pass.title]]</paper-item-body>
					</paper-item>
				</template>
				<div hidden$="[[isEmpty(availableCoupons)]]">
				<paper-item>Coupons:</paper-item>
				<template is="dom-repeat" items="[[availableCoupons]]" as="coupon">
					<paper-item class="container">
						<paper-item-body class="passtext flexchild">[[coupon.type.title]]</paper-item-body>
						<paper-item-body>: </paper-item-body>
						<paper-item-body class="passtext flexchild">[[coupon.value]]</paper-item-body>
					</paper-item>
				</template>
				</div>
			</div>
		</paper-card>
	</div>

	<div class="container">
		<paper-card style="width:100%">
			<div class="card-content">
				<vaadin-grid id="grid" items="[[timeslots]]" on-active-item-changed="_onActiveItemChanged">
					<template class="row-details">
						<div class="details">
							<paper-item class="strong">[[item.event.title]]:</paper-item>
							<paper-item hidden$="[[!item.event.teaser]]">[[item.event.teaser]]</paper-item>
							<paper-item hidden$="[[!item.event.description]]">[[item.event.description]]</paper-item>
						</div>
					</template>
				
					<vaadin-grid-column flex-grow="1">
						<template class="header"><iron-icon icon="label-outline"></iron-icon></template>
						<template><span title="[[item.event.title]]">[[item.event.title]]</span></template>
					</vaadin-grid-column>
				
					<vaadin-grid-column flex-grow="1">
						<template class="header"><iron-icon icon="home"></iron-icon></template>
						<template>[[item.displayLocation]]</template>
					</vaadin-grid-column>
				
					<vaadin-grid-column flex-grow="0" width="10em">
						<template class="header"><iron-icon icon="today"></iron-icon></template>
						<template>[[item.displayTime]]</template>
					</vaadin-grid-column>
				
					<vaadin-grid-column flex-grow="0">
						<template class="header"><iron-icon icon="schedule"></iron-icon></template>
						<template>[[item.duration]] min</template>
					</vaadin-grid-column>
				
					<vaadin-grid-column flex-grow="1">
						<template class="header"><iron-icon icon="face"></iron-icon></template>
						<template>[[item.displayHosts]]</template>
					</vaadin-grid-column>
					
					<vaadin-grid-column flex-grow="0" width="45px">
						<template class="header"><iron-icon icon="check"></iron-icon></template>
						<template>
							<paper-icon-button icon="add-circle" on-tap="registerTimeslot" disabled$="[[!user]]" title="Register"></paper-icon-button>
						</template>
					</vaadin-grid-column>
				</vaadin-grid>
			</div>
		</paper-card>
	</div>
	
	<paper-dialog id="registerTimeslotDialog" modal>
		<paper-item>
			Which pass to register to [[timeslotToRegister.event.title]] at [[timeslotToRegister.displayTime]]?
		</paper-item>
		<template is="dom-repeat" items="[[availablePasses]]" as="pass">
			<paper-item class="container" disabled$="[[!pass.available]]">
				<paper-item-body><paper-icon-button icon="check-circle" title="Select" on-tap="selectPass"></paper-icon-button></paper-item-body>
				<paper-item-body class="passtext flexchild">[[pass.name]]</paper-item-body>
				<paper-item-body>: </paper-item-body>
				<paper-item-body class="passtext flexchild">[[pass.pass.title]]</paper-item-body>
			</paper-item>
		</template>
		<paper-item class="container layout center">
			<paper-button raised on-tap="registerClose"><iron-icon icon="close"></iron-icon>Cancel</paper-button>
		</paper-item>
	</paper-dialog>

</template>
</dom-module>

<script>
Polymer({
	is : 'controll-cashier-screen',
	properties : {
		start : {
			observer: 'startView'
		},
		user : {
			type: Object,
			notify: true,
			value: null
		},
		
		timeslots : {
			type: Array,
			notify: true
		},
		
		timeslotToRegister : {
			type: Object,
			value: null
		},
		userPasses : {
			type: Array,
			notify: true
		},
		availablePasses : {
			type: Array,
			notify: true
		},
		availableCoupons : {
			type: Array,
			notify: true
		}
	},

	ready : function() {
	},

	attached : function() {
		app.addEventListener('please-refresh-lists', this.startView.bind(this), false);
	},
	
	startView : function() {
		if (!this.start)
			return;
		this.refreshData();
		this.$.userSelect.show();
	},
	
	refreshData : function() {
		app.getCatalog('timeslots', this.populateTimeslots.bind(this));
	},
	
	updatePasses : function() {
		this.$.buyPass.getUserReport();
	},
	
	isEmpty : function(list) {
		return list.length == 0;
	},
	
	populateTimeslots : function(timeslots) {
		var earliest = new Date();
		earliest.setMinutes(earliest.getMinutes() - 5);
		this.set('timeslots', timeslots.map(function(timeslot){
			timeslot.start_time = new Date(Date.parse(timeslot.start));
			timeslot.end_time = new Date(Date.parse(timeslot.end));
			timeslot.displayHosts = timeslot.hosts.map(function(h){return h.name;}).join(", ");
			timeslot.displayLocation = timeslot.locations.map(function(l){ return l.title; }).join(", ");
			return timeslot;
		}).filter(function(timeslot){
			return timeslot.start_time >= earliest;
		}).sort(function(a,b){
			if (a.start_time.getTime() == b.start_time.getTime())
				return a.duration - b.duration;
			return a.start_time.getTime() - b.start_time.getTime();
		}));
	},
	
	registerTimeslot : function(event) {
		app.startLoading();
		this.set('timeslotToRegister', event.model.item);
		ConTroll.userpasses.userTimeslotReport(this.user.id, this.timeslotToRegister.id, function(passes){
			app.doneLoading();
			this.set('availablePasses', passes.filter(function(pass){ return pass.status == 'authorized';}));
			this.$.registerTimeslotDialog.toggle();
		}.bind(this));
		event.cancelBubble = true;
	},
	
	registerClose : function() {
		this.$.registerTimeslotDialog.toggle();
	},
	
	selectPass : function(event) {
		app.startLoading();
		var pass = event.model.pass;
		ConTroll.tickets.create(this.user.id, this.timeslotToRegister.id, pass.id, function(ticket){
			app.doneLoading();
			this.registerClose();
		}.bind(this));
	},
	
	_onActiveItemChanged : function(event) {
		this.$.grid.expandedItems = [event.detail.value];
	}
});
</script>
