<!--  new version -->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">

<dom-module id="controll-event-list">
<template>
	<style include="shared-styles"></style>
	<style>
	:host {
		display: block;
		box-sizing: border-box;
	}
	paper-item div {
		margin: 0 1em;
	}
	.flex-horizontal { 
		@apply (--layout-horizontal);
	}
	
	.flexchild { 
		@apply (--layout-flex);
	}
	.large-field {
		width: 100%;
	}
	.non-bidi * {
		direction: ltr;
	}
	.short-field {
		width: 10em;
	}
	paper-material {
		padding: .7em .2em;
		margin: 1em 0;
	}
	</style>
	
	<paper-material elevation="1">
	<paper-item>
		<paper-button raised on-tap="addEvent"><iron-icon icon="add-circle"></iron-icon>Add</paper-button>
	</paper-item>
	</paper-material>
	
	<paper-material elevation="1">
	<template is="dom-repeat" items="{{events}}" as="event">
		<paper-item class="container flex-horizontal">
			<paper-item class="flexchild">
				<paper-input class="large-field" label="Title" readonly value="{{event.title}}"></paper-input>
			</paper-item>
			<div>
				<paper-input readonly label="Submitter" value="{{event.user.name}}"></paper-input>
			</div>
			<div>
				<paper-input readonly label="Status" value="{{event.statusText}}"></paper-input>
			</div>
			<div>
				<paper-icon-button title="Edit" icon="create" on-tap="gotoEditEvent"></paper-icon-button>
			</div>
			<div>
				<paper-icon-button icon="clear" title="Remove" on-tap="removeEvent"></paper-icon-button>
			</div>
		</paper-item>
	</template>
	</paper-material>
	
	<paper-dialog id="addEventDialog" modal>
		<paper-item>
			<paper-input class="large-field" label="Title" id="addEventTitle"></paper-input>
		</paper-item>
		<paper-item>
			<paper-textarea style="direction:rtl" class="large-field" label="Teaser" id="addEventTeaser"></paper-textarea>
		</paper-item>
		<paper-item>
			<paper-input label="Duration" class="short-field" id="addEventDuration" type="number" min="30">
				<div suffix>minutes</div>
			</paper-input>
		</paper-item>
		<controll-user-select id="userSelector" value="{{addEventOwner}}"></controll-user-select>
		<paper-item>
			<paper-button on-tap="approveAddEvent" raised><iron-icon icon="check"></iron-icon>OK</paper-button>
			<paper-button on-tap="cancelAddEvent" raised><iron-icon icon="close"></iron-icon>Cancel</paper-button>
		</paper-item>
	</paper-dialog>
	
	<paper-dialog id="confirmDeleteDialog" modal>
		<h2>Are you sure you want to delete event "{{titleToDelete}}"?</h2>
		<paper-item class="container flex-horizontal">
			<paper-button class="flexchild" on-tap="approveDeleteEvent" raised><iron-icon icon="check-circle"></iron-icon>Yes</paper-button>
			<paper-button class="flexchild" on-tap="closeDeleteDialog" raised><iron-icon icon="cancel"></iron-icon>No</paper-button>
		</paper-item>
	</paper-dialog>
	
</template>
</dom-module>

<script>
Polymer({
	is : 'controll-event-list',
	properties : {
		events : {
			type: Array,
			observer: '_updateEvents'
		},
		event_status_list : {
			value: [
			        { value: '0', label: 'Submitted' },
			        { value: '1', label: 'Has Teaser' },
			        { value: '2', label: 'Content Approved' },
			        { value: '3', label: 'Logistics Approved' },
			        { value: '4', label: 'Scheduled' },
			        { value: '5', label: 'Approved' },
			        { value: '6', label: 'Cancelled' }
			]
		},
		start : {
			observer: 'startEventList'
		}
	},
	
	attached : function(event) {
		app.addEventListener('please-refresh-lists', this.refreshData.bind(this), false);
	},
	
	ready : function(event) {
		console.log("Loading events");
	},
	
	startEventList : function() {
		if (this.start)
			this.refreshData();
	},
	
	refreshData : function() {
		if (!this.start)
			return;
		app.getCatalog('events', this.populateEvents.bind(this));
	},
	
	populateEvents : function(events) {
		this.set('events', events.sort(function(a,b){
			if (a.title < b.title)
				return -1;
			if (a.title > b.title)
				return 1;
			return a.id - b.id;
		}).map((function(event){
			event.statusText = this.event_status_list.find(function(st){ return st.value == event.status}).label;
			return event;
		}).bind(this)));
	},
	
	_updateEvents : function() {
		console.log('On update events happened');
	},
	
	gotoEditEvent : function(event) {
		page.show('/events/' + event.model.event.id);
	},
	
	addEvent : function(){
		this.addEventOwner = null;
		this.$.addEventTitle.value = null;
		this.$.addEventTeaser.value = null;
		this.$.addEventDuration.value = null;
		this.$.userSelector.show(function(){
			this.$.addEventDialog.toggle();
		}.bind(this));
	},
	
	cancelAddEvent : function() {
		this.$.addEventDialog.toggle();
	},
	
	approveAddEvent : function() {
		this.$.addEventDialog.toggle();
		ConTroll.events.create(this.$.addEventTitle.value, this.$.addEventTeaser.value || '',
				parseInt(this.$.addEventDuration.value), this.addEventOwner.id, function(event){
			if (event.status)
				page.show('/events/' + event.id);
			else
				alert(event.error);
		});
	},
	
	removeEvent : function(event) {
		this.titleToDelete = event.model.event.title;
		this.eventToDelete = event.model.event.id;
		this.$.confirmDeleteDialog.toggle();
	},
	
	approveDeleteEvent : function() {
		this.$.confirmDeleteDialog.toggle();
		this.titleToDelete = null;
		app.invalidateCatalog('events');
		ConTroll.events.remove(this.eventToDelete, this.ready.bind(this));
		this.eventToDelete = null;
	},
	
	closeDeleteDialog : function() {
		this.$.confirmDeleteDialog.toggle();
	}

});
</script>